# Core
python-dotenv==1.0.0

# Data
pandas==2.1.4
numpy==1.26.2
requests==2.31.0

# Database - versi yang stabil
supabase==2.0.3

# Technical Analysis
ta==0.11.0

# Machine Learning
scikit-learn==1.3.2
